{% extends 'common/base.html' %}

{% block main %}
    <div class="container mt-5">
        <div>
            <h2>Удаление</h2>
            <p>Вы уверены, что хотите удалить товар"<strong>{{ object.name }}</strong>>"</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Да</button>
                <a href="{% url "catalog:home" %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}